In [26]:
x=1
if x==4:
    print "hola"

In [18]:
if x != 3:
    print "x es diferente de 3"
elif x==4:
    print 4535
elif x<2:
    print "x es 444"
else: 
    print "no hay nada"

no hay nada

In [29]:
x=1
while x < 5:
    print "no es mayor que 5"
    
    print x
    x =x+1
    if x==4:
        break
else:
    print "el bloque acabo sin romperse"

no es mayor que 5
4
el bloque acabo sin romperse

In [13]:
c= 2
for c in 4:
    print c

TypeError: 'int' object is not iterable

In [36]:
cadena = raw_input("ingrese daots")

ingrese daots3

In [4]:
v = "5535"
print len(v)

b=v*2
print b

4
55355535

In [1]:
#secuencias: tipo de datos que contienen un conjunto de valores
var_tuplas = (1,2,4,5,2,3,22,"puede incluir varios tipos de variable",4,4534)
print var_tuplas
    
var_lista = [1,2,4,5,2,3,22,"puede incluir varios tipos de variable",4,4534]
print var_lista

(1, 2, 4, 5, 2, 3, 22, 'puede incluir varios tipos de variable', 4, 4534)
[1, 2, 4, 5, 2, 3, 22, 'puede incluir varios tipos de variable', 4, 4534]

In [2]:
var_lista == var_tuplas

False

In [3]:
for elemento in var_lista:
    print elemento

1
2
4
5
2
3
22
puede incluir varios tipos de variable
4
4534

In [4]:
# se puede preguntar si ay un dato en la tupla o lista
2 in var_lista

True

In [7]:
var_tuplas[0] ##para capturar valores tanto de tuplas o lsitas

1

In [8]:
var_lista[-1]  # para cojer el ultmo en python cuando es negativo empieza por el ultimo
var_tuplas[-1]

4534

In [9]:
var_lista[0:4] # para cojer los de 4 elementos empeazndo por el 0

[1, 2, 4, 5]

In [16]:
lista_anidada = [[4,5],[1,2]] # una lista puede contener otras listas
print lista_anidada

[[4, 5], [1, 2]]

In [17]:
lista_anidada[0][1] #coje del primer elemento el elemento 1

5

# funciones

In [18]:
def nombre_funcion(argumentos_dela_funcion): # como se define una fnion 
    pass #argumentos

In [20]:
def cuadreado(x):
    #***eleva un nemero al cuadrado*** ##
    y = x**2
    return y    ## es obligatorio para devolver una variable en una funcion

In [23]:
cuadreado(9)

81

In [24]:
def multiplicacion(x,y=3): #argumentos por defecto
    v=x*y
    return v

In [27]:
multiplicacion(3,)

9

In [3]:
x1 = 3
z1 = x1*[2,3]
z1

[2, 3, 2, 3, 2, 3]

In [8]:
x1 = "123456"
z1 = x1[2:5]
z1

'345'

In [18]:
lista_rango = [1,1,2,2,3,3,4,4,5,5,6,6]

In [39]:
for y in  range(3):
    print y

0
1
2

In [40]:
for r in range(1):
    print r

0

In [42]:
listi = [1]
for r in listi:
    print r

1

# MIDSQUARE

In [3]:
x = input("introduce un numero con 2n caracteres(semilla) ")
z = input("cantidad de numeros a generar")

y= x**2
print y
if len(str(y)) != 2*len(str(x)):
    print "2n**2 es diferente de 4n"
    lista = list(str(y))
    print lista
    aleatoria = "0."+str(lista[0]) + str(lista[1])
    print aleatoria
    
    
else:
    print "2n**2 es igual a 4n "
    lista = list(str(y))
    print lista
    aleatoria = "0."+str(lista[1]) + str(lista[2])
    print aleatoria

introduce un numero con 2n caracteres(semilla) 145326564756474567458534562365
cantidad de numeros a generar2
21119810423917795856523852059075285969449686793262074393225
2n**2 es diferente de 4n
['2', '1', '1', '1', '9', '8', '1', '0', '4', '2', '3', '9', '1', '7', '7', '9', '5', '8', '5', '6', '5', '2', '3', '8', '5', '2', '0', '5', '9', '0', '7', '5', '2', '8', '5', '9', '6', '9', '4', '4', '9', '6', '8', '6', '7', '9', '3', '2', '6', '2', '0', '7', '4', '3', '9', '3', '2', '2', '5']
0.21

import this

 $$x_n = a(x_n-1)+b modulo m$$